header{
    border: 1.5px solid black;
    padding: 2.5px;
    display: flex;
    justify-content: space-between; /* configura posição horizontalmente */
    align-items: baseline; /* configura posição verticalmente */
}

header img{
    width: 100px;
}

nav ul{
   display: flex;
   justify-content: space-around;
}

nav ul li{
    list-style: none;
    border: 1.5px solid black;
    padding: 0px 10px;
}

nav ul li:hover{
    background-color: lightblue
}

nav ul li:hover ul{
    display: block;
}

nav ul li ul {
    display: none;
    position: absolute;
    background-color: rgb(42, 42, 207);
}

nav ul li ul li {
    padding: 5px 3px;
}

nav li {
    cursor: pointer;
}

.grid1 {
    padding: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.grid2 {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.elemento {
    height: 200px;
    margin: 10px;
}

#semana-de-prova{
    color: white;
    background-color: darkred;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}

#WebSai {
    padding: 10px;
    color: white;
    background-color: darkblue;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

#Passe-Escolar {
    padding: 10px;
    color: white;
    background-color: darkgreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#Notícias{
    color: white;
    background-color: darkgoldenrod;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}