.formulario{
    background-color: #859ca2;
    color: #e7e0cdc3;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border: 2px solid #aabaca;
    border-radius: 20px;
    margin: 10px;
    padding-bottom: 20px;
}

body{
    background-color: #859ca2;
    color: #E7E0CD;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
table{
    background-color: #E7E0CD;
    color: #671F1F;
    border: 2px solid #aabaca;
    width: 90%;
    margin: auto;
    font-size: 24px;
    text-align: center;
}
img{
    width: 100px;
    height: 130px;
}

td{
    border: 1px dotted #859ca2;
}
#nome_coluna{
    background-color: #dde7ee;
    color: #671F1F;
    font-size: 28px;
}
#linhasimpares{
    background-color: #f2efeb;
}
#linhaspares{
    background-color: #d3cdc6;
}